body {
    background-color: #342e2e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: orange;
    font-size: 60px;
    font-style: italic;
    
}

h3 {
    color: white;
    text-align: center;
}

#freeairdrop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#airdropalert {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#airdrops {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#twitterFeeds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

#airdropKingList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}


